/* font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* Share Style Starts Hare*/
.font-description{
    font-family: Inter;
    font-weight: 400;
    font-size: 1.1rem;
    color: rgba(255, 255, 255);
    border: none;
}
.small-font{
    font-family: Inter;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.font-title-style{
    font-family: Inter;
    color: white;
    font-size: 48px;
    font-weight: 900; 
      
}
.share-btn-red{
    font-size: 1.2rem;
    color: rgba(232, 226, 226, 0.9);
    border-radius: 30px;
    background: rgb(230, 83, 60);
    padding: 7px 20px;
}
.common-margin{
    border: 2px solid red;
    width: 75%;
    margin: 1% 12% 0% 12%;
}
/* Share Style Ends Hare*/

/* Header Style Starts Here*/
.header-sec{
    border: 2px solid red;
    background-image: linear-gradient(rgb(17, 17, 17) 10%,rgba(0, 0, 0, 0.797),rgb(17, 17, 17) 90%);
}
nav{
    border: 2px solid red;
    width: 75%;
    margin: 1% 12% 0% 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{ 
    list-style: none;
}
.nav-button-container{
    border:rgba(255, 255, 255, 0.1);

}
.nav-button-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 39px;
}


.nav-title{
font-family: Inter;
font-weight: 800;
font-size: 2.4rem;
color: #E6533C;
}
.home-bar-style{
    background-color: rgb(230, 83, 60);
    padding: 6px 18px 6px 18px;
    font-weight: 600;
    border-radius: .8rem;
}

.nav-icon{
    color: white;
    display: none;
}

.header-container{
    border: 2px solid red;
    width: 75%;
    margin: 1% 12% 0% 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text-container-title{
    font-size: 5rem;

}
.shape-style{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
                                                
}
.header-btn{
    font-size: 1.2rem;
    color: rgba(232, 226, 226, 0.9);
    border-radius: 30px;
    border: 2px solid rgb(174, 171, 171);
    padding: 7px 20px;
    background: none;
    margin-left: 5px;
}
.header-text-container{
    width: 50%;
}
.header-image-container{
    width: 40%;
    position: relative;
}

.vedio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 45%;
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 10%;
    left: -25%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);

}
.icon{
    width: 40px;
    height: 40px;   
    border: 2px solid #E6533C;
    border-radius: 30px;
    background-color: #E6533C;

}
.box-title{
    font-family: Inter;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
.icon-box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:0px;

}
.workout{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40%;
    height: 20%;
    background: rgba(48, 48, 48, 0.54);
    top: 20%;
    right: -5%;
    border: 1px solid rgba(255, 255, 255, 0.048);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    padding: 10px;
}
.workout-title{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.6rem;
font-weight: 900;
height: 30%;
}
/* Header Style Ends Here*/

/* Habit Section Style Start */
.main-section{
    
    background-color: black;
    margin-top: 0px;
    /* background: rgb(185, 185, 185); */
}
.habit-section-text-container{
   text-align: center;
   line-height: 20px; 
}
.habit-section-box-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.box-image> img{
    border-radius: 10rem;
    margin-left: 3rem;

}
.box-text-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.box-text-descriptipn{
    text-align: center;
}
/* Habit Section Style Ends */

/* Run section start */
.run-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 1rem;
    
}

.run-section-image-container{
    width: 40%;
   
}
.run-section-image-container> img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
   
}
.run-section-text-container{
    width: 40%;
    margin-left: 5%;
}
/* Run section End */

/* BMI start here */
.bmi-text{
    border: 2px solid red;
    text-align: start;
    width: 50%;
    margin: 0% 25%;
    line-height: 15px;
}
.bmi-calc{
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
}

.bmi-title{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.5rem;
font-weight: 900;

}

.bmi-calc-table{
    border: 2px solid red;
    width:25%;
    /* align-content: center; */

}
.tab-style{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.tab-head{
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(255, 255, 255);
}
table>tr>td{
    font-family: Inter;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.bmi-calc-form{
    border: 2px solid red;
    width: 40%;
    

}
.form-bg{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    font-family: Inter;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.3);
    padding: 12px 15px 12px 15px;
    /* width: 100%; */
    border: none;
    /* margin-left: 5px; */

}
input::placeholder{
    font-family: Inter;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.3);;
}
.bmi-form-input{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(40, 2, 129);
}
.line-1{
    border: 2px solid yellow;
    display: flex;
    width: 45%;
}
.last-line{
    max-width: 100%;
    border: 2px solid red;
}

/* BMI Ends Here */

/* Team section Style Strats */
.team-section-text-container{
    border: 2px solid red;
    width: 60%;
    align-items: center;
    margin: 0% 20%;
}
.team-section-image-container{
    margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 100%;
}

.team-section-text-container-title{
    line-height: 10px;
    text-align: center;
}

.trainer-name-title{
    font-family: Inter;
    font-size: 1.8rem;
    line-height: .5rem;
    color: white;
    font-weight: 600;
}

.trainer-img{
    position: relative;
    width: 100%;
    height: 100%;

    /* background-image: url(/images/trainer1.png); */
}
.trainer-img>img{
    width: 100%;
    border-radius: 1.1rem;
    height: 100%;
}

.trainer-title{
    position: absolute;
    bottom: 2%;
    left: 3%;
}