@media screen and (max-width: 576px) {
    .nav-icon{
        display: block;
    }
    .nav-button-container{
        display: none;
    }
    .header-container{
        display: flex;
        flex-direction: column;
       
    } 
    .header-text-container{
        width: 80%;
    }
    .header-image-container{
        width: 80%
    }
    .header-text-container-title{
        font-size: 2.5rem;
    }
    .div-btn{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 2px;
        width: 120%;
        /* border: 2px solid red; */
    }
  
    .vedio{
        width:180px;
    }
    .workout{
        width:160px;
        height: 80px;
        right: -25%;
    }
    .workout-title{
        font-size: 25px;
    
    }
    /* main */
    .main-section{
    
        background-color: black;
        margin-top: -30px;
    }
/* change your habit style */

    .habit-section-text-container-title{
        font-size: 1.8rem;
    }
    .habit-section-box-container{
        display: grid;
        /* gap: 10px; */
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .box-image> img{
        border-radius: 10rem;
        width: 80%;
        margin-bottom: 1.5rem;

    
    }

    /* Run Section Style */
    .run-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        padding: 1rem;
        
    }
    .run-section-text-container{
        width: 90%;
        margin-bottom: 2rem;    
    }
    .run-section-image-container{
        width: 90%;
       
    }

    /* BMI Start */
    .bmi-section{
        display: flex;
        flex-direction: column;
    }
    .bmi-title{
        font-size: 1.5rem;
    }
    /* .bmi-title-des{
        font-size: .8rem;
    } */
    .bmi-calc{
        background: rgb(34, 34, 34);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2% 10%;
        /* text-align: center;
        align-content: center; */
    }
   
    .bmi-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 900;
    }
    .bmi-calc-table{
        /* border: 2px solid red; */
        width:80%;
        /* align-content: center; */
    
    }
    .bmi-calc-form{
        /* border: 2px solid red; */
        width: 80%;
    }

    /* BMI Ends */
/* challeng */

    .challenge-section-box-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .box{
        width: 80%;
        height: 100%;
        align-content: center;
     }
    
    .box-images{
        width: 100%;
        height: 60%;
    }
    .box-des-img{
        width: 100%;
        height: 40%;
    }
     .box-images>img{
        width: 100%;
        height: 100%;
        border-radius: 20rem;
     }
    /* Meet Our Team section */
    .team-section-text-container-title{
        font-size: 1.5rem;
    }
    .team-section-text-container-des{
        font-size: .8rem;
        text-align: center;
    }
    .team-section-image-container{
        margin-top: .5rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        width: 100%;
    }

    /* Footer Section */
    .footer-section{
        margin-top: -.4rem;
    }
    .footer-text-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* gap: .5rem; */
    }


}